<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <!-- Link for Google Font and Icons-->
    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
</head>
<body>
    <aside class="sidebar">
        <div class="sidebar-header">
            <a href="index.html">
                <img src="{{ site.baseurl }}/img/logo_sito_codici.png" alt="logo_sito_codici">
            </a>
            <!-- <h2>Lab</h2> -->
        </div>
        <ul class="sidebar-links">
            <h4>
                <a href="{{ site.baseurl }}/pages/initial.html">Initial Examples</a>
            </h4>
            <li><a href="{{ site.baseurl }}/pages/initial/linear_elasticity.html">Linear Elasticity</a></li>
            <li><a href="{{ site.baseurl }}/pages/initial/heat_diffusion.html">Heat Diffusion</a></li>
            <li><a href="{{ site.baseurl }}/pages/initial/advection.html">Advection</a></li>
            <h4>
                <a href="{{ site.baseurl }}/pages/elasticity_problems.html">Fracture Problems</a>
            </h4>
            <li><a href="{{ site.baseurl }}/pages/elasticity/phase_field.html">Phase Field for fracture</a></li>
            <h4>
                <a href="{{ site.baseurl }}/pages/coupled_problems.html">Coupled Problems</a>
            </h4>
            <li><a href="{{ site.baseurl }}/pages/coupled/thermo_elasticity.html">Thermo-mechanics</a></li>
        </ul>
        <div class="user-account">
            <div class="user-profile">
                <img src="{{ site.baseurl }}/img/foto.jpg" alt="foto">
                <div class="user-detail">
                    <h3>Lorenzo Mingazzi</h3>
                </div>
            </div>
        </div>
    </aside>

    <!-- Contenuto principale -->
    <main class="content">
        {{ content }}
    </main>

</body>
</html>
